services:
  db:
    image: postgres:15
    container_name: workly-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: workly
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  api:
    container_name: workly-api
    build: .
    restart: on-failure
    depends_on:
      - db
    env_file:
      - .env.docker
    ports:
      - "4000:4000"
    command: sh -c "npx prisma migrate deploy && node src/server.js"

volumes:
  db_data:
